/*
 * Use this CSS to learn some intersting techniques,
 * in case you're wondering how I built the UI.
 * Have fun! 😁
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.welcome,
.signup__label {
  font-size: 1.9rem;
  font-weight: 500;
}

.logo,
.logo__top {
  height: 5.25rem;
}

.logo__top {
  display: none;
}

.login,
.signup {
  display: flex;
}

.login__input,
.signup__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus,
.signup__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder,
.signup__input::placeholder {
  color: #bbb;
}

.login__btn,
.signup__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus,
.signup__btn:hover,
.signup__btn:focus {
  outline: none;
  color: #777;
}

/* SIGNUP */

#signup {
  margin-top: 100px;
  margin-left: -70px;
  display: block;
}

.signupform {
  text-align: center;
}

.signup {
  justify-content: center;
}

.signup__label {
  margin-bottom: 50px;
  text-align: center;
}
.signup__input--name {
  margin-bottom: 30px;
  width: 24rem;
}

.signup__btn {
  margin-top: 50px;
}
/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  /* NOTE This creates the fade in/out anumation */
  opacity: 0;
  /* transition: all 1s; */
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.5rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date,
.movements__person,
.movements__deets {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

.movements_unflex {
  display: block;
}

/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

.operation--loan {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fadc30 0%, #ffdd00 74%);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
/* .form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
} */
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: #ffffff59;
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
  color: rgb(54, 53, 53);
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.918);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.form__btn--save {
  font-size: 2.5rem;
  background-color: #f3f3f3;
  cursor: pointer;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 240, 0.767);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}

.form__btn--save {
  text-align: right;
}

.form__input::placeholder {
  color: rgba(3, 3, 3, 0.582);
  font-size: 0.8rem;
}

@media (max-width: 425px) {
  body {
    text-align: center;
  }
  .logo__top {
    display: inline;
  }
  nav {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .logo {
    display: none;
  }
  .welcome {
    margin-top: 20px;
  }
  .login {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  #signup {
    margin-top: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .app {
    margin-top: 80px;
  }
  .balance {
    grid-column: 1 / -1;
    display: block;
  }
  .movements {
    grid-column: 1 / -1;
  }
  .operation {
    grid-column: 1 /-1;
  }

  .summary {
    grid-column: 1/-1;
  }
  .movements__row {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    text-align: left;
  }
  .movements__type {
    width: 6rem;
    text-align: center;
  }
  .operation {
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: #333;
  }
  /* .form__input::placeholder {
    color: rgba(3, 3, 3, 0.582);
    font-size: 0.8rem;
  } */
  .form__btn--save {
    grid-column: 2;
  }
}
@media (max-width: 768px) {
  .operation {
    padding: 2rem 2rem;
  }
}
